<mat-drawer-container class="container">
    <mat-drawer #drawer mode="side" opened>
        <mat-toolbar>
            <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Início</mat-list-item>
            <mat-list-item routerLink="/admin/administrador">Administradores</mat-list-item>
            <mat-list-item routerLink="/admin/administrador/new">Novo administrador</mat-list-item>
            <mat-list-item routerLink="/admin/autor">Autores</mat-list-item>
            <mat-list-item routerLink="/admin/autor/new">Novo autor</mat-list-item>
            <mat-list-item routerLink="/admin/escritor">Escritores</mat-list-item>
            <mat-list-item routerLink="/admin/escritor/new">Novo escritor</mat-list-item>
            <mat-list-item routerLink="/admin/betoneira">Betoneiras</mat-list-item>
            <mat-list-item routerLink="/admin/betoneira/new">Nova betoneira</mat-list-item>
            <mat-list-item routerLink="/admin/novel">Novels</mat-list-item>
            <mat-list-item routerLink="/admin/novel/new">Nova novels</mat-list-item>
            <mat-list-item routerLink="/admin/usuario">Usuários</mat-list-item>
            <mat-list-item routerLink="/admin/usuario/new">Novo usuário</mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>