header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #000000;
    color: white;
    border-bottom: 2px solid #0056b3;
}
img{
    width: 80px;
    height: 80px;
}
header h1 {
    margin: 0;
    font-size: 24px;
}

header button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #007bff;
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

header button:hover {
    background-color: #0056b3;
    color: white;
}


.search-form {
    display: flex;
    align-items: center;
}
.search-field {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.search {
    max-width: 300px;
    padding: 0;
}