<mat-toolbar color="primary">
    <div class="toolbar-title">Lista de Escritores de Novel</div>
</mat-toolbar>

<div class="escritor-novel-list-container">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="escritores" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let escritor"> {{escritor.id}} </td>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let escritor"> {{escritor.nome}} </td>
                </ng-container>

                <ng-container matColumnDef="anoNascimento">
                    <th mat-header-cell *matHeaderCellDef> Ano Nascimento </th>
                    <td mat-cell *matCellDef="let escritor"> {{escritor.anoNascimento}} </td>
                </ng-container>

                <ng-container matColumnDef="nacionalidade">
                    <th mat-header-cell *matHeaderCellDef> Nacionalidade </th>
                    <td mat-cell *matCellDef="let escritor"> {{escritor.nacionalidade}} </td>
                </ng-container>

                <ng-container matColumnDef="sexo">
                    <th mat-header-cell *matHeaderCellDef> Sexo </th>
                    <td mat-cell *matCellDef="let escritor"> {{escritor.sexo}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let escritor">
                        <button mat-button (click)="editEscritor(escritor.id)">Editar</button>
                        <button mat-button color="warn" (click)="deleteEscritor(escritor.id)">Excluir</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>

<mat-paginator [pageSizeOptions]="[10, 30, 60, 90, 110, 130]" [pageSize]="pageSize" [length]="totalRecords" (page)="paginar($event)"></mat-paginator>