<mat-toolbar >
    <div class="toolbar-title"><h1>Informações do Mangá</h1></div>
</mat-toolbar>

<div *ngIf="manga">
    <section class="product-container">
        <div class="img-card">
            <img [src]="manga.imageUrl" alt="" id="featured-image">
        </div>
        <div class="product-info">
            <h3>{{manga.nome}}</h3>
            <h5>R$ {{manga.preco}}</h5>
            <h5>Sinopse: {{manga.sinopse}}</h5>
            <h5>Páginas: {{manga.paginas}}</h5>
            <h5>Estoque: {{manga.estoque}}</h5>
            <h5>Ano: {{manga.lancamento}}</h5>
            <h5>Gênero: {{manga.genero.nome}}</h5> 
            <h5>Autor: {{manga.idAutor.nome}}</h5>
            <p>{{manga.sinopse}}</p>
            <div class="quantity">
                <button mat-button (click)="adicionarAoCarrinho(manga)" color="accent" class="add-to-cart-button">Adicionar ao carrinho</button>
            </div>
        </div>
    </section>
</div>

<section class="other-mangas-container">
    <h2>Mangás Do Gênero</h2>
    <div class="other-mangas-grid">
        <mat-card *ngFor="let otherManga of otherMangas" class="manga-card">
            <div class="img-other">
                
                <img [src]="otherManga.imageUrl" alt=" ">
            </div>
            <mat-card-title>{{otherManga.nome}}</mat-card-title>
            <mat-card-content>
                <p>{{otherManga.sinopse.length > 30 ? (otherManga.sinopse | slice:0:30) + '...' : otherManga.sinopse}}</p>
                <p>R$ {{otherManga.preco}}</p>
                <p>{{otherManga.genero.nome}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" (click)="verManga(otherManga.id)">Ver mais</button>
                <button mat-button color="accent" (click)="adicionarAoCarrinho(otherManga)">Adicionar ao carrinho</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>