<div class="pedido-list-container">
    <h1>Lista de Pedidos</h1>
    <div *ngFor="let pedido of pedidos" class="pedido-card">
        <h2>Pedido #{{ pedido.id }} - Usuário: {{ pedido.cliente.username }}</h2>
        <div class="pedido-preco">
            <strong>Preço Total:</strong> R$ {{ pedido.preco | number:'1.2-2' }}
        </div>
        <p><strong>Endereço:</strong> {{ pedido.endereco.rua }}, {{ pedido.endereco.numero }}, {{ pedido.endereco.cep }}, {{ pedido.endereco.cidade }}, {{ pedido.endereco.estado }}</p>
        <p><strong>Tipo de Pagamento:</strong> {{ pedido.tipoPagamento }}</p>
        <p><strong>Estado do Pagamento:</strong> {{ pedido.estadoPagamento }}</p>
        <div class="pedido-itens">
            <h3>Itens:</h3>
            <ul>
                <li *ngFor="let item of pedido.itens">
                    <strong>Betoneira ID:</strong> {{ item.betoneira.id }}<br>
                    <strong>Nome:</strong> {{ item.betoneira.nome }}<br>
                    <strong>Quantidade:</strong> {{ item.quantidade }}<br>
                    <strong>Preço:</strong> R$ {{ item.preco | number:'1.2-2' }}
                </li>
            </ul>
        </div>
        
        <div class="payment-options" *ngIf="pedido.estadoPagamento === PagamentoEstado.PENDENTE">
            <button (click)="pagarPix(pedido.id)">Pagar com Pix</button>
            <button (click)="pagarCredito(pedido.id)">Pagar com Cartão de Crédito</button>
            <button (click)="pagarDebito(pedido.id)">Pagar com Cartão de Débito</button>
        </div>
    </div>
</div>