<div class="container" *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
    <h1>Confirmação de Pagamento</h1>
    <div class="products">
        <h2>Produtos</h2>
        <div class="product" *ngFor="let item of carrinhoItens">
            <span>{{ item.nome }} | Qtd: {{ item.quantidade }}</span>
            <span>R$ {{ item.preco }}</span>
        </div>
        <div class="product">
            <strong>Total</strong>
            <strong>R$ {{ calcularTotal().toFixed(2) }}</strong>
        </div>
    </div>

    <div class="address">
        <h2>Endereço de Entrega</h2>

        <form [formGroup]="enderecoForm">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" >

            <label for="rua">Rua</label>
            <input type="text" id="rua" formControlName="rua" required>

            <label for="numero">Número</label>
            <input type="text" id="numero" formControlName="numero" required>

            <label for="cep">CEP</label>
            <input type="text" id="cep" formControlName="cep" required>

            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" formControlName="cidade" required>

            <label for="estado">Estado</label>
            <input type="text" id="estado" formControlName="estado" required>

            <button class="confirm-button" (click)="salvar()">Confirmar Pagamento</button>
        </form>
    </div>
</div>
<ng-template #carrinhoVazio>

    <body>
        <div class="vazio">
            <div class="mensagem vazia">
                <h1>Seu carrinho de compras</h1>
                <h2>Nenhum produto ainda :/</h2>
                <a href="/" class="back-button">Voltar para a Página Inicial</a>
            </div>
        </div>
    </body>
</ng-template>