<mat-toolbar color="primary">
    <div class="toolbar-title">Registro de escritor</div>
</mat-toolbar>
<div class="escritor-form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="salvar()">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome:</mat-label>
                    <input matInput type="text" formControlName="nome" required>
                    <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">
                        {{ getErrorMessage('nome', formGroup.get('nome')?.errors) }}
                        @if(formGroup.get('nome')?.hasError('apiError')) {
                            <span>{{formGroup.get('nome')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Ano de Nascimento:</mat-label>
                    <input matInput type="number" formControlName="anoNascimento" required>
                    <mat-error
                        *ngIf="formGroup.get('anoNascimento')?.invalid && formGroup.get('anoNascimento')?.touched">
                        {{ getErrorMessage('anoNascimento', formGroup.get('anoNascimento')?.errors) }}
                        @if(formGroup.get('anoNascimento')?.hasError('apiError')) {
                            <span>{{formGroup.get('anoNascimento')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nacionalidade:</mat-label>
                    <input matInput type="text" formControlName="nacionalidade" required>
                    <mat-error
                        *ngIf="formGroup.get('nacionalidade')?.invalid && formGroup.get('nacionalidade')?.touched">
                        {{ getErrorMessage('nacionalidade', formGroup.get('nacionalidade')?.errors) }}
                        @if(formGroup.get('nacionalidade')?.hasError('apiError')) {
                            <span>{{formGroup.get('nacionalidade')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Sexo:</mat-label>
                    <mat-select formControlName="sexo" required>
                        <mat-option value="1">Feminino</mat-option>
                        <mat-option value="2">Masculino</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('sexo')?.invalid && formGroup.get('sexo')?.touched">
                        {{ getErrorMessage('sexo', formGroup.get('sexo')?.errors) }}
                        @if(formGroup.get('sexo')?.hasError('apiError')) {
                            <span>{{formGroup.get('sexo')?.getError('apiError')}}</span>
                        }
                    </mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button routerLink="/admin/escritor">Cancelar</button>
                    <button mat-raised-button color="warn" *ngIf="formGroup.get('id')?.value" (click)="excluir()">Excluir</button>
                    <button mat-raised-button color="primary" type="submit">Salvar</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>