
<div class="container" *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
    <div class="left-column">
        <mat-card *ngFor="let item of carrinhoItens" class="carrinho-card">
            <div class="carrinho-card-content">
                <img mat-card-image [src]="item.imageUrl" class="carrinho-image" />
                <div class="carrinho-details">
                    <mat-card-title class="centered-text">{{ item.nome }}</mat-card-title>
                    <mat-card-content class="centro">Quantidade: {{item.quantidade}}</mat-card-content>
                    <mat-card-content class="centro">Preço: {{item.preco}}</mat-card-content>
                    <mat-card-actions class="centro">
                        <button class="action" mat-raised-button (click)="diminuirItem(item)">Diminuir</button>
                        <button class="action" mat-raised-button color="warn" (click)="removeItem(item)">Remover</button>
                        <button class="action" mat-button color="primary" (click)="goTo(item)">Observar</button>
                    </mat-card-actions>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="right-column">
        <h1 class="total">Total: R$ {{ calcularTotal() | number:'1.2-2' }}</h1>
        <button mat-raised-button color="primary" (click)="finalizarCompra()">Finalizar Compra</button>
        <button mat-raised-button color="primary" (click)="removerTudo()">Remover tudo</button>
    </div>
</div>
<ng-template #carrinhoVazio>
    <div class="vazio">
        <div class="mensagem">
            <h1>Seu carrinho de compras</h1>
            <h2>Nenhum produto ainda.</h2>
            <a href="/" class="back-button">Voltar para a Página Inicial</a>
        </div>
    </div>
</ng-template>