<mat-toolbar color="primary">
    <div class="toolbar-title">Registro de Endereço</div>
</mat-toolbar>

<div class="endereco-form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup" (ngSubmit)="salvar()">

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Número</mat-label>
                    <input matInput type="text" formControlName="numero" required>
                    <mat-error *ngIf="formGroup.get('numero')?.invalid && formGroup.get('numero')?.touched">
                        {{ getErrorMessage('numero', formGroup.get('numero')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Complemento</mat-label>
                    <input matInput type="text" formControlName="complemento">
                    <mat-error *ngIf="formGroup.get('complemento')?.invalid && formGroup.get('complemento')?.touched">
                        {{ getErrorMessage('complemento', formGroup.get('complemento')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Bairro</mat-label>
                    <input matInput type="text" formControlName="bairro" required>
                    <mat-error *ngIf="formGroup.get('bairro')?.invalid && formGroup.get('bairro')?.touched">
                        {{ getErrorMessage('bairro', formGroup.get('bairro')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>CEP</mat-label>
                    <input matInput type="text" formControlName="cep" required>
                    <mat-error *ngIf="formGroup.get('cep')?.invalid && formGroup.get('cep')?.touched">
                        {{ getErrorMessage('cep', formGroup.get('cep')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Município</mat-label>
                    <input matInput type="text" formControlName="municipio" required>
                    <mat-error *ngIf="formGroup.get('municipio')?.invalid && formGroup.get('municipio')?.touched">
                        {{ getErrorMessage('municipio', formGroup.get('municipio')?.errors) }}
                    </mat-error>
                </mat-form-field>

                <mat-card-actions>
                    <button mat-raised-button routerLink="/admin/endereco">Cancelar</button>
                    <button mat-raised-button color="warn" *ngIf="formGroup.get('id')?.value"
                        (click)="excluir()">Excluir</button>
                    <button mat-raised-button color="primary" type="submit">Salvar</button>
                </mat-card-actions>

            </form>
        </mat-card-content>
    </mat-card>
</div>