.betoneira-form-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 100px;
}

.betoneira-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.container {
    padding: 20px;
}


.betoneira-card .centered-text {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.betoneira-form-container .container {
    display: flex;
    flex-direction: column;
}

.betoneira-form-container .container {
    margin-bottom: 35px;
}

.betoneira-form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.betoneira-form-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.betoneira-form-container .container button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
}

.betoneira-form-container .container button:hover {
    background-color: #0056b3;
}

.betoneira-form-container .container textarea {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.betoneira-form-container .container mat-select {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #ccc;
    font-size: 16px;
}

.betoneira-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #cfcfcf;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
}
.betoneira-card-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.betoneira-image {
    width: 180px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 10px;
}

.betoneira-details {
    flex: 1;
}

.mat-card-footer {
    width: 100%;
    text-align: center;
}

img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.container {
    padding: 20px;
}

.responsive-grid {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 20px;
}
