<mat-toolbar>
    <div class="toolbar-title"><h1>Informações da Betoneira</h1></div>
</mat-toolbar>

<div *ngIf="betoneira">
    <section class="product-container">
        <div class="img-card">
            <img [src]="betoneira.imageUrl" id="featured-image">
        </div>
        <div class="product-info">
            <h3>{{betoneira.nome}}</h3>
            <h5>R$ {{betoneira.preco}}</h5>
            <h5>Descrição: {{betoneira.descricao}}</h5>
            <h5>Tipo: {{betoneira.idTipoBetoneira.nome}}</h5>
            <h5>Fabricante: {{betoneira.idFabricante.nome}}</h5>
            <button mat-button (click)="adicionarAoCarrinho(betoneira)" color="accent" class="add-to-cart-button">Adicionar ao carrinho</button>
        </div>
    </section>
</div>

<section class="other-betoneiras-container">
    <h2>Outras Betoneiras</h2>
    <div class="other-betoneiras-grid">
        <mat-card *ngFor="let otherBetoneira of otherBetoneiras" class="betoneira-card">
            <div class="img-other">
                <img [src]="otherBetoneira.imageUrl">
            </div>
            <mat-card-title>{{otherBetoneira.nome}}</mat-card-title>
            <mat-card-content>
                <p>{{otherBetoneira.descricao.length > 30 ? (otherBetoneira.descricao | slice:0:30) + "..." : otherBetoneira.descricao}}</p>
                <p>R$ {{otherBetoneira.preco}}</p>
                <p>{{otherBetoneira.idFabricante.nome}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="primary" (click)="verBetoneira(otherBetoneira.id)">Ver mais</button>
                <button mat-button color="accent" (click)="adicionarAoCarrinho(otherBetoneira)">Adicionar ao carrinho</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
