<mat-toolbar color="primary">
    <div class="toolbar-title">Lista de Pagamentos</div>
</mat-toolbar>

<div class="pagamento-list-container">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="pagamentos" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let pg">{{pg.id}}</td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell *matCellDef="let pg">{{pg.cliente?.nome}}</td>
                </ng-container>

                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef>Valor</th>
                    <td mat-cell *matCellDef="let pg">{{pg.valor}}</td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef>Data</th>
                    <td mat-cell *matCellDef="let pg">{{pg.data | date}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Ações</th>
                    <td mat-cell *matCellDef="let pg">
                        <button mat-button (click)="editPagamento(pg.id)">Editar</button>
                        <button mat-button color="warn" (click)="deletePagamento(pg.id)">Excluir</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row, columns: displayedColumns"></tr>

            </table>
        </mat-card-content>
    </mat-card>
</div>

<mat-paginator
    [pageSizeOptions]="[10, 30, 60, 90, 110, 130]"
    [pageSize]="pageSize"
    [length]="totalRecords"
    (page)="paginar($event)">
</mat-paginator>
