<!-- <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome">
        <mat-error *ngIf="formGroup.get('nome') && formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">O nome é obrigatório.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput type="text" formControlName="cidade"> 
    </mat-form-field>
    <button type="submit" [disabled]="formGroup.invalid">Salvar</button>
</form> -->
<!-- <div class="container">
    <h2 class="heading">Novo município</h2>
    <form (ngSubmit)="onSubmit()">

        <label for="name">Nome:</label>
        <input type="text" id="name" required formControlName="nome">

        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" required formControlName="cidade">
        <button type="submit" [disabled]="!municipioForm.form.valid">Enviar</button>

        <mat-form-field appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput type="text" formControlName="cidade">
            <mat-error
                *ngIf="formGroup.get('cidade') && formGroup.get('cidade')?.invalid && formGroup.get('cidade')?.touched">A
                cidade é obrigatória.</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid" class="btn btn-primary">Salvar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div> -->
<!-- <div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required formControlName="nome">
        <mat-error *ngIf="formGroup.get('nome') && formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched">O nome é obrigatório.</mat-error>
      </div>
        <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid" class="btn btn-primary">Salvar</button>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div> -->
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" name="name" id="nome" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="nome">Cidade</label>
        <input type="text" class="form-control" name="name" id="cidade" formControlName="cidade">
    </div>
    <input type="submit" class="btn btn-primary mt-4" value="Salvar">
</form>