.footerComponent {
    background-color: #000000;
    background-image: linear-gradient(to top, rgb(23, 24, 30), rgba(35, 54, 151, 0));
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    flex-shrink: 0;
}