<mat-toolbar color="primary">
    <div class="toolbar-title">Lista de Betoneiras</div>
</mat-toolbar>

<div class="betoneira-list-container">
    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.id }} </td>
                </ng-container>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.nome }} </td>
                </ng-container>

                <ng-container matColumnDef="paginas">
                    <th mat-header-cell *matHeaderCellDef> Páginas </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.paginas }} </td>
                </ng-container>

                <ng-container matColumnDef="preco">
                    <th mat-header-cell *matHeaderCellDef> Preço </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.preco }} </td>
                </ng-container>

                <ng-container matColumnDef="sinopse">
                    <th mat-header-cell *matHeaderCellDef> Sinopse </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.sinopse }} </td>
                </ng-container>

                <ng-container matColumnDef="lancamento">
                    <th mat-header-cell *matHeaderCellDef> Lançamento </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.lancamento }} </td>
                </ng-container>

                <ng-container matColumnDef="estoque">
                    <th mat-header-cell *matHeaderCellDef> Estoque </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.estoque }} </td>
                </ng-container>

                <ng-container matColumnDef="color">
                    <th mat-header-cell *matHeaderCellDef> Colorido </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.color }} </td>
                </ng-container>

                <ng-container matColumnDef="idAutor">
                    <th mat-header-cell *matHeaderCellDef> Autor </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.idAutor?.nome }} </td>
                </ng-container>

                <ng-container matColumnDef="genero">
                    <th mat-header-cell *matHeaderCellDef> Gênero </th>
                    <td mat-cell *matCellDef="let betoneira"> {{ betoneira.genero?.nome }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let betoneira">
                        <button mat-button (click)="editBetoneira(betoneira.id)">Editar</button>
                        <button mat-button color="warn" (click)="deleteBetoneira(betoneira.id)">Excluir</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </mat-card-content>
    </mat-card>
</div>

<mat-paginator
    [pageSizeOptions]="[10, 30, 60, 90, 110, 130]"
    [pageSize]="pageSize"
    [length]="totalRecords"
    (page)="paginar($event)">
</mat-paginator>
