html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #233697;
}

.footerComponent {
    background-color: #233697;
    background-image: linear-gradient(to top, rgba(35, 54, 151, 1), rgba(35, 54, 151, 0));
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.iconsComponent {
    display: block;
    justify-content: space-around;
    margin: 20px 0;
}

.messagesComponent {
    margin: 20px 0;
}

.navbarComponent {
    background-color: #233697;
    color: white;
    padding: 10px;
    text-align: center;
}

.statisticsComponent {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.tasksComponent {
    margin: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #1d1d1d, #282424, #3c2a2a);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header-home {
    background-color: #000000;
    color: white;
    padding: 1rem;
}

.navbar-home ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar-home li {
    margin-right: 3rem;
    padding: 10px;
    background-color: #3489caba;
    border-radius: 18px;
}

.navbar-home a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-home a:hover {
    font-weight: bolder;
    color: #333333c5;
}

.main-content {
    display: flex;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

.sidebar-home {
    width: 25%;
    padding: 1rem;
    background-color: #f3f3f3;
}

.content-home {
    flex: 1;
    padding: 1rem;
}

.footer-home {
    background-color: #233697;
    background-image: linear-gradient(to top, rgba(35, 54, 151, 1), rgba(35, 54, 151, 0));
    color: white;
    text-align: center;
    padding: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
