* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #00762c;
    color: #ffffff;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 1rem;
}


.login-register {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.login-register h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    font-weight: bolder;
    ;
}

.login-register h1 a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

section#login {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#login>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


section#login #img {
    background: url('/assets/beto.jpg') no-repeat center center / cover;
    min-height: 300px;
    flex: 1;
}


section#login p {
    color: #FFFFFF;
}

section#login #form {
    background-color: #333;
    color: #07234b;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

#form p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

form {
    width: 100%;
}

form .field {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #f5deb3;
    padding: 0.5rem;
    border-radius: 5px;
}

form .field span.material-symbols-outlined {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

form .field input {
    flex: 1;
    padding: 0.75rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    background-color: white;
}

form .field input:focus {
    outline: none;
    background-color: white;
}

form input[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    background: peru;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

form input[type="submit"]:hover {
    background: #cd773f;
}


form #links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

form #links a {
    text-decoration: none;
    color: #cd773f;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

form #links a:hover {
    color: #ffffff;
}