/* Container principal */
.pedido-list-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* Título principal */
.pedido-list-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

/* Estilo do card do pedido */
.pedido-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.pedido-card:hover {
    transform: scale(1.02);
}

/* Título do pedido */
.pedido-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007bff;
}

/* Preço total do pedido */
.pedido-card div {
    font-size: 20px;
    margin-bottom: 10px;
    color: #28a745;
}

/* Endereço do pedido */
.pedido-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
}

/* Itens do pedido */
.pedido-itens h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.pedido-itens ul {
    list-style-type: none;
    padding: 0;
}

.pedido-itens li {
    font-size: 16px;
    margin-bottom: 15px; /* Aumentar a margem inferior para mais espaçamento */
    color: #555;
    padding: 15px; /* Aumentar o padding para mais espaçamento */
    border-bottom: 1px solid #eee;
}

.pedido-itens li:last-child {
    border-bottom: none;
}

.payment-options {
    margin-top: 20px;
}

.payment-options button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.payment-options button:hover {
    background-color: #0056b3;
}