<main>
    <div class="login-register">
        <h1 id="register">Cadastro</h1>
        <h1><a href="/login" id="login">Login</a></h1>
    </div>

    <section id="register">
        <div id="img"></div>
        <div id="form">
            <p>Preencha os dados para se cadastrar.</p>
            <form [formGroup]="formGroup" (ngSubmit)="register()">
                <div class="field">
                    <span class="material-symbols-outlined">Nome</span>
                    <input matInput type="text" formControlName="username" placeholder="Digite seu nome" required />
                    <mat-error *ngIf="formGroup.get('username')?.invalid && formGroup.get('username')?.touched">
                        {{ getErrorMessage('username', formGroup.get('username')?.errors) }}
                    </mat-error>
                </div>
                <div class="field">
                    <span class="material-symbols-outlined">email</span>
                    <input matInput type="email" formControlName="email" placeholder="Digite seu email" required />
                    <mat-error *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                        {{ getErrorMessage('email', formGroup.get('email')?.errors) }}
                    </mat-error>
                </div>
                <div class="field">
                    <span class="material-symbols-outlined">Senha</span>
                    <input matInput type="password" formControlName="senha" placeholder="Digite sua senha" required
                        autocomplete="current-password" />
                    <mat-error *ngIf="formGroup.get('senha')?.invalid && formGroup.get('senha')?.touched">
                        {{ getErrorMessage('senha', formGroup.get('senha')?.errors) }}
                    </mat-error>
                </div>
                <div class="field">
                    <span class="material-symbols-outlined">Cpf</span>
                    <input matInput type="text" formControlName="cpf" placeholder="Digite seu CPF" required />
                    <mat-error *ngIf="formGroup.get('cpf')?.invalid && formGroup.get('cpf')?.touched">
                        {{ getErrorMessage('cpf', formGroup.get('cpf')?.errors) }}
                    </mat-error>
                </div>
                <div class="field">
                    <span class="material-symbols-outlined">Sexo</span>
                    <mat-select formControlName="sexo" required>
                        <mat-option value="1">Feminino</mat-option>
                        <mat-option value="2">Masculino</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('sexo')?.invalid && formGroup.get('sexo')?.touched">
                        {{ getErrorMessage('sexo', formGroup.get('sexo')?.errors) }}
                    </mat-error>
                </div>
                <div>
                    <input type="submit" class="botao" value="Cadastrar" />
                </div>
            </form>
        </div>
    </section>
</main>